@model IEnumerable<ProjetStudeal_Final.Models.Member>

@{
    ViewData["Title"] = "Accueil";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<a id="#top"></a>
<h2>Bienvenue sur l'ecran d'accueil</h2>
<h4>Cliquez sur connexion pour ouvrir une session.</h4>

<div>
    @Html.ActionLink("Creer un nouveau compte", "CreateMember")
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Prénom
            </th>
            <th>
               Nom
            </th>
            <th>
                Utilisateur
            </th>
            <th>
                Mot de passe
            </th>
            <th>
                Est tuteur ?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model)
     {
        <tr>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.UserName
            </td>
            <td>
                @item.Password
            </td>
            <td>
                @item.IsTutor
            </td>
            <td>
                @Html.ActionLink("Connexion", "connect", new { id = item.Id })
            </td>
        </tr>
     }
    </tbody>
 
</table>
<a href="#top">Retourner en haut de la page</a>
