@model IEnumerable<ProjetStudeal_Final.Models.Member>

@{
    ViewData["Title"] = "Accueil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accueil</h2>

<p>
    <a asp-action="CreateMember">Créer un compte</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Prénom
            </th>
            <th>
               Nom
            </th>
            <th>
                Utilisateur
            </th>
            <th>
                Mot de passe
            </th>
            <th>
                Est tuteur ?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model)
     {
        <tr>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.UserName
            </td>
            <td>
                @item.Password
            </td>
            <td>
                @item.IsTutor
            </td>
            <td>
                @Html.ActionLink("Détails", "Details", new { id = item.Id })
                @Html.ActionLink("Connecter", "connect2", new { id = item.Id })
            </td>
        </tr>
     }
    </tbody>
 
</table>
